*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.Loginbox{
padding: 20px;
border: 1px solid gainsboro;
border-radius: 20px;
background-color: gainsboro;

}

.o{
padding:5px;
width: 300px;
margin: 20px;

}

.obutton{
display: block;
margin-left:320px ;
padding: 20px;
border: 1px solid white;
background-color: rgb(19, 19, 223);
color: white;
border-radius: 40px;
}

.err-text{
color: red;



}